.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #9024e9;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white
}
.button {
    width: 22%;
    height: 50px;
    font-size: 18px;
    margin: 1%;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: #45a049;
}
.button.operator {
    background-color: #f39c12;
}
.button.operator:hover {
    background-color: #e67e22;
}
.button.equal {
    background-color: #3498db;
}
.button.equal:hover {
    background-color: #2980b9;
}

