.calculator {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #9024e9;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -10px;
    color: white
    justify-content:text-end;
    display:flex
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    

}

